{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-console": 1,
    "no-undef": 1,
    "camelcase": 1,
    "comma-dangle": "off",
    "func-names": "off",
    "consistent-return": "off",
    "strict": ["error", "global"],
    "semi": ["error", "always"],
    "no-unused-expressions": ["error",
      {
        "allowShortCircuit": true
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0,
    "react/state-in-constructor": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-unused-state": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "function-paren-newline": ["error", "consistent"],
    "no-param-reassign":["error", { "props": false }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "import/no-named-as-default": 0,
    "react/jsx-props-no-spreading": 0,
  }
}
